:root {
  --theme-color: rgb(255, 123, 0);
  --border-setting: solid 1px var(--theme-color);
}

.container {
  margin-top: 10px;
  border: var(--border-setting);
  border-radius: 10px 10px 10px 10px;
}

.header {
  background: var(--theme-color);
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  font-size: 25px;
}

.minus {
  color: red;
}

.plus {
  color: blue;
}

.result-ditail-group {
  width: 130px;
  float: right;
}

.result-ditail-checkbox {
  width: 30%;
}

.result-ditail-label {
  width: auto;
  margin: 0 0 0 10px;
}

.result-table {
  display: flex;
  justify-content: flex-end;
}

.table {
  table-layout: fixed;
  width: 50%;
}

.result-point {
  text-align: right;
  display: block;
  font-size: 1.5rem;
}

.share-group {
  text-align: right;
}

.footer {
  text-align: center;
  padding: 10px 0px 30px;
}
